#lgtbox{
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    overflow: hidden;

    transition: all 1s ease-in-out;
}
#lgtbox:target{
    top: 200px;
    left: 200px;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
.parent{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center;  */
}
.child{
    height: 20%;
    width: 20%;
    background-color: aqua;
    border: 1px solid red;
}